<launch>

  <rosparam file="$(find controls)/include/controls/pid/tune/surge.yaml" />
  <rosparam file="$(find controls)/include/controls/pid/tune/sway.yaml" />
  <rosparam file="$(find controls)/include/controls/pid/tune/HEAVE.yaml" />
  <rosparam file="$(find controls)/include/controls/pid/tune/roll.yaml" />
  <rosparam file="$(find controls)/include/controls/pid/tune/pitch.yaml" />
  <rosparam file="$(find controls)/include/controls/pid/tune/YAW.yaml" />
  <rosparam file="$(find controls)/include/controls/pid/tune/inputs.yaml"/>

  <include file="$(find vision)/launch/cameras.launch"/>
  <node name="pid_heave" pkg="controls" type="pid_axis" output="screen">
    <param name="axis" value="2"/>
    <param name="inputType" value="2"/>
  </node>
  <node name="pid_yaw" pkg="controls" type="pid_axis" output="screen">
    <param name="axis" value="5"/>
    <param name="inputType" value="0"/>
  </node>
  <node name="pid_sway" pkg="controls" type="pid_axis" output="screen">
    <param name="axis" value="1"/>
    <param name="inputType" value="0"/>
  </node>
  <node name="pid_surge" pkg="controls" type="pid_axis" output="screen">
    <param name="axis" value="0"/>
    <param name="inputType" value="0"/>
  </node>


  <node name="pid_manager" pkg="controls" type="pid_manager" />
  <node name="init" pkg="controls" type="TestInit.py" />

 <node name="yaw_correct" pkg="controls" type="Yaw.py" output="screen" />
<node name="smach" pkg="controls" type="StateMachine.py" output="screen"/>
<node name="start" pkg="sense" type="switch" output="screen" />


</launch>
